# Node.js общие файлы
node_modules/

# Файлы конфигурации VSCode
.vscode/

# Логи
logs/

# Загруженные файлы
uploads/

# Пакетные файлы npm
package-lock.json

# Основной файл конфигурации
.env

# Резервные копии
*.bak

# Директория backup
backu/

# Директория daemon
daemon/
